
body {
    font-size: 15px;
}

.navbar .btn-default{
    margin-top: 9px;
    background-color: #fff
}

.sidebar-menu .treeview-menu>li>a {
    padding: 7px 5px 7px 15px;
    display: block;
    font-size: 15px;
}

.sidebar-menu li.header {
    font-size: 15px;
}

.form-control{
	font-size: 15px;
}

.btn{
	font-size: 15px;
}

.mb-0{
	margin-bottom: 0;
}
.mt-20{
  margin-top: 20px;
}
.pb-0{
  padding-bottom: 0;
}

.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
}

.content-header{
	min-height: 32px;
}

.content-header .breadcrumb{
	padding: 0 5px;
	font-size: 15px;
	left: 10px !important;
}

.table{
	font-size: 14px !important;
}

.table thead{
	background: #e5e9ef;
    font-weight: 500 !important;
    color: #4c4c4c;
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #e9e9e9;
}

.table-bordered>thead>tr>th {
    border-bottom: 0;
}

.text-blod{
	font-weight: 900;
}

.ticket-header{
   width: 100%;
   position: relative;
   border-bottom: 1px solid #ddd;
   margin-bottom: 15px;
   padding-top: 20px;
   padding-bottom: 20px;
}

.ticket-title{
   width: calc(100% -60px);
   padding-left: 60px;
}

.ticket-title .box-title{
   font-size: 23px;
}



.ticket-header img{
	position: absolute;
	left: 0;
	border-radius: 50%;
	width: 49px;
	border: 1px solid #ddd;
}

.reply-area{
   width: 100%;
   position: relative;
   margin-top: 20px;
}


.reply-area img{
   width: 50px;
   border-radius: 50%;
   border: 1px solid #ddd;
   position: absolute;
   left: 0;
   margin-bottom: 20px;
}


.reply-area .nav-tabs-custom{
   padding-left: 70px;
   box-shadow: none;
}

.reply-area .tab-content{
	padding: 2px 0 0;
}

.reply-area .nav-tabs-custom .nav>li>a {
    padding: 7px;
}

.reply-area  .border-area{
	min-height: 146px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 15px 10px;
}

.relative{
	position: relative !important;
}
.relative .text-area-footer{
	position: absolute;
	right: 0;
	bottom: 0;
	border-top: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
}

.relative .text-area-footer .btn{
	 font-size: 14px !important;
	 float: right;
}

.hidden{
	display: none;
}

.text-area-footer label:hover{
	cursor: pointer;
}





.reply-area2{
   width: 100%;
   position: relative;
   margin-top: 20px;
}


.reply-area2 img{
   width: 50px;
   border-radius: 50%;
   border: 1px solid #ddd;
   position: absolute;
   left: 0;
   margin-bottom: 20px;
}


.reply-area2 .nav-tabs-custom{
   box-shadow: none;

}

.reply-area2 .tab-content{
	padding: 2px 0 30px 0;
	max-height: 400px;
}

.reply-area2 .nav-tabs-custom .nav>li>a {
    padding: 7px;
}

.reply-area2  .border-area{
	min-height: 146px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	padding: 15px 10px;
}


.reply-active{
	position: relative;
}
.reply-active img{
	width: 50px;
	border: 1px solid #ddd;
	border-radius: 50px;
}
.reply-content{
   margin-top: 10px;
   padding-left: 60px;
}


.chart-legend li{
      width: auto;
      float: left;
      display: inline-block;
      margin-right: 7px;
      font-size: 13px;
}

.chart-legend li i{
      margin-right: 5px;
}


.bd-map {
	text-align: center
}

.bd-map img{
	height: 358px;
	margin: 0 auto;
}

.history-list small{
	color: #959595;
	font-size: 14px;
	font-style: italic;
}

.history-list span{
	color: #959595;
	font-size: 14px;
	font-style: italic;
}

.history-list a{
	color: #;
	font-size: 14px;
	font-weight: bold;
}

.custom-pad{
   padding-top: 5px;
   padding-bottom: 5px;

}

.sparkbar.pad{
	padding: 10px 10px 0 10px;
}
.description-block .description-text{
  font-size: 13px;
}
.description-block.margin-bottom{
	margin-bottom: 10px;
}

.box.custom-box .box-header .box.custom-box .box-footer, .box.custom-box .box-body{
  padding: 10px 20px !important;
}

.box.custom-box{
  border-top: 0;
}

.mt-30{
  margin-top: 30px;
}



.form-area{
  padding-right: 40px;
  position: relative;
}

.form-area .parent-clone{
    position: absolute;
    right: 0;
    top: 27px;
}

.form-area .parent-clone .btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    line-height: 30px;
}



.embed-nav-code{
  margin: 0;
  padding: 0;
}

.embed-nav-code li{
   list-style: none;
   display: inline-block;
   margin-right: 10px;
}


.embed-nav-code li:last-child{
   margin-right: 0;
}

.embed-nav-code li a{
   text-decoration: none;
   background: #47a1d6;
   padding: 8px 16px;
   color: #fff;
   border-radius: 2px;
   font-size: 15px;
}
.embed-nav-code li a:hover{
   background-color: #074f79
}

.nav-holder{
  padding: 20px 0;
}