#foodtruck-search-box{
    padding: 25px 15px;
    border: solid 1px #d9d9d9;
    background-color: #F9F9F9;
    margin:25px 0px;
    width: 100%;
}

#foodtruck-search-box .form-control{
    width: 250px;
}
#foodtruck-search-box  .form-group{
    margin-right: 30px;
}

@media only screen and (max-width: 768px){

    #foodtruck-search-box .form-control{
        width: 100%;
    }
    #foodtruck-search-box  .form-group{
        margin-right:0px;
    }
    .main-logo{
        max-width:230px !important;
    }
}

@CHARSET "UTF-8";
#date .old.day, #date .new.day {
    visibility: hidden;
}
#date .datepicker.datepicker-inline {
    background: #ffffff;
    border: 1px solid #cccccc;
}
#time {
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#time .time-item {
    margin-bottom: 3px;
    margin-top: 3px;
}
#time .time-item.active {
    font-weight: bold;
}
#time .time-item:hover {
    cursor: pointer;
    text-decoration: underline;
}
#client {
    display: none;
}